.body {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    font-family: monospace;
}

.info_div {
    width: 25%;
    height: 50%;
    padding: 0 20px;
}

.title {
    font-size: 40px;
    margin-bottom: 1rem;
}

.paragraph {
    font-size: large;
}

span {
    color: rgb(136, 86, 253);
}

.btn_resume {
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: rgb(136, 86, 253);
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid rgb(136, 86, 253);
    font-weight: lighter;
    font-family: monospace;
    position: relative;
    margin-right: 0;
    text-align: left;
   
}


.btn_resume:hover {
    width: 150px;
    margin-right: 1rem;
}

.btn_resume::after {
    content: '';
    opacity: 0;
    transform: translateX(-5px);
    transition: all 1s ease;
}

.btn_resume:hover::after {
    content: '\2192';
    position: absolute;
    width: 100px;
    height: fit-content;
    display: inline-block;
    margin-left: 1rem;
    opacity: 1;
    transform: translateX(5px);

}