
.container {

    text-align: center;

    background-color:rgb(243, 240, 240);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 4px 1px rgba(205, 204, 204, 0.99);
    transform: rotate(10deg);
   transition: transform 0.3s ease-in;
}
.container:hover {
  transform: rotate(0deg);
  
  transition: transform 0.1s ease-in;
  
}

.img_container {
border: 1px solid whitesmoke;
width: 280px;
height: 250px;
border-radius: 10px;
margin-right: auto;
margin-left: auto;
outline: 1px solid snow;
}

.img{
    width: 100%;
    height:100%;
    border-radius: 10px;
}

.title {
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 32px;
   margin-top: 20px;
}
