
.conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: center;
}

.conatiner h2 {
    font-family: monospace;
    margin-bottom: 1rem;
    font-size: 32px;
}
.conatiner > p {
    font-family: monospace;
    margin-bottom: 1rem;
    color: grey;
    font-size: larger;
}

.image{
    width: 30%;
    height: 200px;
}

.information {
    display: flex;
    justify-content: space-between;
    border: 1px solid  rgb(136, 86, 253);
    padding: 20px 20px;
    width: 50%;
    margin-bottom: 2rem;
    border-radius: 20px;
    align-items: center;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.information:hover {
    box-shadow: 0px 8px 0px 0px  rgb(136, 86, 253);

}


.information::after {
    content: "";
    opacity: 0;
    position: relative;
   
    width: 0;
    right: 30px;
    margin-left: -16rem;
     transition: opacity 2s ease-in-out ;
}

.information:hover::after {
    content: "\2192";
    margin: 0;
    font-size: 32px;
    margin-left: -12rem;
    opacity: 1;
    display: block;
   
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin-bottom: 2rem;
}
footer h2 {
    font-size: 16px;
    font-family: monospace;
    font-weight: 400;
}
 footer p {
    padding: 2px;
    font-family: monospace;
    font-weight: 400;
    font-size: 12px;
    color: grey;
 }