.container {
    text-align: center;
    margin: 10rem auto;
    
}

.heading {
    margin-bottom: 2.5rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
}

.heading h2 {
    font-size: 26px;
}

.tools_container {

    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    margin-bottom: 2rem;
}

.scroller {
    display: flex;
    padding-block: 1rem;
    flex-wrap: nowrap;
    gap: 6rem;
    animation: scroll 40s linear infinite;
    width: max-content;
}

.tools {
    width: 50px;
    height: 50px;

}


@keyframes scroll {
    100% {
        transform: translate(calc(-50% - 3rem));
    }
}