.cardSection {
 
    margin-left: auto;
    margin-right: auto;


}
.title {
    margin-bottom: 5rem;
    font-family: monospace;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
}

.work_div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
    margin-bottom: 2rem;
    gap: 4rem;
}
.card {
 
    width: 450px;
    height: 250px;
    border: 2px solid rgba(249, 248, 248, 0.676);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    margin-bottom: 20px;
}
.img_div {
    width:50%;
    height: 100%;
    align-self: center;
}
.img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: linear-gradient(45deg, rgb(253, 189, 189) 50%, rgb(157, 157, 247) 50%);
     border-bottom: 2px solid rgba(249, 248, 248, 0.676);
     background-position: center;

}
.text_div {
    width: 50%;
    height: 100%;
}
.framework {

    background-color: rgb(136, 206, 187);
    padding:  5px 2px;
    width: 30%;
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    font-family:  sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    letter-spacing: 2px;
    transition: transform .3s ease;
}

.sub_title {
    margin-bottom: .5rem;
    padding: 5px 20px;
    font-size: 16px;
    color:rgb(136, 165, 206);
      font-family:  sans-serif;
    transition: transform .3s ease-in-out;
}

.paragraph{ 
   padding: 0rem 1rem;
   margin-top: .5rem;
   color: rgb(158, 174, 184);
   margin-bottom: 1rem;
   transition: transform .3s ease;
    line-height: 20px;
}
.arrow {
    width: 2rem;
    height: 2rem;
    position: relative;
    background-color: black;
    border-radius: 50%;
    transition: rotate 0.5s linear;
    margin-left: auto;
    margin-top: 20px;
    top: 0;
    right: 10px;
}

.arrow::after {
    transition: rotate 0.5s linear;
    content: '\2192';
    opacity: 1;
    rotate: -45deg;
    width: 1rem;
    height: 1rem;

    color: white ;
    content: '\2192';
    margin-left: 7px;

    padding: 12px 2px;
    position: absolute;
    top: -4px;
    transform: translateY(-2px);
    font-weight: 900;
}


.arrow:hover::after {
   content: '\2192';
   rotate: 0deg;
    transform: translate(0px,-2px);
    opacity: 1;
  
}